@media (max-width: 575.98px)and (orientation:portrait) {


    body {
        position: relative;
    }

    body>button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background: transparent;
        border: none;
    }

    body>button i {
        font-size: 40px;
        color: aliceblue;
    }








    header {
        position: absolute;
        top: 0%;
        width: 100vw;
        height: 60px;


        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    header>h1 {
        margin: auto;
        visibility: hidden;
    }

    header>button {
        margin: auto 20px auto auto;
        display: block;
        background: transparent;
        border: none;
    }

    header>button i {
        font-size: 30px;
        color: aliceblue;
    }


    header .menu_header {
        display: none;
    }
















    #INICIO {
        width: 100vw;
        height: 100vh;
    }





    /* INICIO */
    #INICIO {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }


    #INICIO .cont_titulo_principal {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #INICIO .cont_titulo_principal h1 {
        margin: 40px;
        font-size: 30px;
    }









    /* cont imagen principal */
    #INICIO .cont_imagen_principal {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    #INICIO .cont_imagen_principal .cont_imagen {
        width: 300px;
        height: 400px;
        /* background-color: aliceblue; */
        border-radius: 1em;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }


    #INICIO .cont_imagen_principal .cont_imagen img {
        grid-column: 1 / -1;
        grid-row: 1 / 8;

        width: 100%;
        height: auto;
        margin: auto;
    }


    #INICIO .cont_imagen_principal .cont_imagen button {
        margin: auto;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }











    /* SOBRE MI */

    #SOBRE_MI {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        padding-top: 100px;
        row-gap: 100px;
    }

    #SOBRE_MI h2 {
        text-align: center;
        font-size: 30px;
        margin: auto;
    }


    #SOBRE_MI .cont_sobre_me {
        list-style: none;
        display: grid;
        row-gap: 20px;
        margin: 20px 0;
    }


    /* perfil */
    #SOBRE_MI .cont_sobre_me>.perfil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }


    #SOBRE_MI .cont_sobre_me .perfil p {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 20px;
        margin: 20px;
    }


    #SOBRE_MI .cont_sobre_me>li {
        width: 90%;
        aspect-ratio: 1;
        background-color: aliceblue;
        margin: auto;
        border-radius: 10px;
    }



    /* contacto */
    #SOBRE_MI .cont_sobre_me .contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }


    #SOBRE_MI .cont_sobre_me .contacto .cont_link_Contacto {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }


    .cont_link_Contacto>li {
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont_link_Contacto li i {
        font-size: 60px;
    }



    /* herramientas */
    #SOBRE_MI .cont_sobre_me .herramientas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }



    #SOBRE_MI .cont_sobre_me .herramientas .cont_habilidades {
        grid-column: 1 / -1;
        grid-row: 2 / 3;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }


    #SOBRE_MI .cont_sobre_me .herramientas .cont_herramientas {
        grid-column: 1 / -1;
        grid-row: 4 / 5;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }


    .cont_habilidades li i,
    .cont_herramientas li i,
    #SOBRE_MI .cont_sobre_me .herramientas .cont_herramientas img,
    #SOBRE_MI .cont_sobre_me .herramientas .cont_habilidades img {
        font-size: 40px;
        width: 40px;
    }











    /* PORTAFOLIO */
    #PORTAFOLIO {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        padding-top: 100px;
        row-gap: 100px;
    }



    #PORTAFOLIO h2 {
        margin: auto;
        font-size: 40px;
    }


    #PORTAFOLIO .cont_proyectos {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        list-style: none;
        display: grid;
        row-gap: 20px;
        margin: 20px 0;
    }


    #PORTAFOLIO .cont_proyectos li {
        width: 90%;
        height: 500px;
        margin: auto;


        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }


    #PORTAFOLIO .cont_proyectos li .cont_imagen_proyecto {
        grid-column: 1 / -1;
        grid-row: 1 / 5;
        margin: 10px;
        background-color: aliceblue;
        overflow: hidden;
    }

    #PORTAFOLIO .cont_proyectos li .cont_imagen_proyecto img {
        width: 100%;
        height: 100%;
    }


    #PORTAFOLIO .cont_proyectos li p {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
        margin: 10px;
    }









    /* FOMRULARIO_CONTACTO */
    #FORMULARIO_DE_CONTACTO {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        padding-top: 100px;
        row-gap: 100px;
    }


    #FORMULARIO_DE_CONTACTO h2 {
        margin: auto;
        font-size: 40px;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario .form {
        width: 80%;
        height: 600px;
        margin: auto;
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(5, 1fr);

        background-color: #F9F9F9;
        box-shadow: 6px 8px 14px 4px rgba(0, 0, 0, 0.3);
    }


    form {
        margin-top: 20px;

        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }



    form label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 10px;
    }


    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        padding: 10px;
        border: 1px solid #cccccc;
        font-size: 14px;
        height: 30px;
        border-radius: 20px;
        border: none;
    }

    .textarea {
        grid-column: 1 / -1;

        resize: none;
        height: 100px;
    }

    textarea {
        resize: none;
        height: 100px;
    }

    form button {
        grid-column: 1 / 2;

        padding: 20px 30px;
        margin: auto auto auto 0;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario .cont_mensaje_form {
        grid-column: 1 / -1;
        grid-row: 2 / 4;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario .cont_mensaje_form h1 {
        margin: auto 20px;
        font-size: 40px;
    }
}