@media (min-width: 1199.98px) {


    body {
        position: relative;
    }

    body>button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    body>button i {
        font-size: 40px;
        color: aliceblue;
    }











    /* MEDIDAS DE SECTIONS */
    #INICIO,
    #SOBRE_MI,
    #FORMULARIO_DE_CONTACTO {
        /* width: 100vw; */
        height: 100vh;
    }

    #PORTAFOLIO {
        width: auto;
        height: auto;
    }



    a {
        text-decoration: none;
    }



    header {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 60px;
        /* background-color: #1F4172; */

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
    }

    header>h1 {
        margin: auto auto auto 20px;
        visibility: visible;
        user-select: none;
    }


    /* efecto hover */
    header>h1 {
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        transition: all 0.3s ease-in-out;
      }
      
      header>h1:before{
        content: '';
        background: aliceblue;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      header>h1:hover {
       background-position: 0;
      }
      
      header>h1:hover::before{
        width: 100%;
      }
      /* efecto hover */






    header>button {
        display: none;
    }



    header .menu_header {
        display: block;

        grid-column: 4 / 7;
        grid-row: 1 / -1;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        border-bottom: 1px solid #ffffff33;
    }


    header .menu_header p {
        cursor: pointer;
    }

    header .menu_header p:hover {
        color: #0090F6;
    }
























    /* INICIO */
    #INICIO {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        height: 100vh;
    }


    #INICIO .cont_titulo_principal {
        max-width: 400px;
        height: auto;
        margin: auto;

        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    #INICIO .cont_titulo_principal h1 {
        font-size: 60px;
    }

    #INICIO .cont_titulo_principal p {
        font-size: 25px;
    }

    #INICIO .cont_titulo_principal button {
        padding: 10px 30px;
        background-color: #F4F6F9;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

    .cont_imagen_perfil {
        margin: auto 0;
        height: 200px;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }




    #INICIO .cont_botones_inicio {
        display: flex;
        gap: 10px;
    }






















    /* boton CV */
    header #boton_CV {
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        overflow: hidden;

        border: none;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
    }


    header #boton_CV {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    header #boton_CV:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 10px;
        right: -20px;
        transition: 0.5s;
    }

    header #boton_CV:hover {
        padding-right: 24px;
        padding-left: 8px;

        padding: 10px 15px;
    }

    header #boton_CV:hover:after {
        opacity: 1;
        right: 10px;
    }
















    /* SOBRE MI */
    #SOBRE_MI h2 {
        margin: auto;
        font-size: 40px;
    }




    #SOBRE_MI {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        padding: 0 200px;
    }


    #SOBRE_MI .cont_sobre_me {
        grid-column: 1 / -1;
        grid-row: 3 / 7;

        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-gap: 20px;

        border-bottom: 1px solid #ffffff33;
    }


    /* perfil */
    #SOBRE_MI .cont_sobre_me>.perfil {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }


    #SOBRE_MI .cont_sobre_me .perfil p {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: flex;
        /* align-items: center; */
        justify-content: center;

        font-size: 20px;
        margin: 20px;
    }




    

    #SOBRE_MI .cont_sobre_me>li {
        width: 400px;
        aspect-ratio: 1 / 1;
        margin: auto;
        border-radius: 1em;
    }





    /* contacto */
    #SOBRE_MI .cont_sobre_me .contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }


    #SOBRE_MI .cont_sobre_me .contacto .cont_link_Contacto {
        grid-column: 1 / -1;
        grid-row: 2 / 3;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }


    .cont_link_Contacto>li {
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    .cont_link_Contacto>li p {
        text-align: center;
    }




    /* herramientas */
    #SOBRE_MI .cont_sobre_me .herramientas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }


    #SOBRE_MI .cont_sobre_me .herramientas .cont_habilidades {
        grid-column: 1 / -1;
        grid-row: 2 / 3;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }


    #SOBRE_MI .cont_sobre_me .herramientas .cont_herramientas {
        grid-column: 1 / -1;
        grid-row: 4 / 5;

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }


    #SOBRE_MI .cont_sobre_me .herramientas .cont_habilidades li p,
    #SOBRE_MI .cont_sobre_me .herramientas .cont_herramientas li p {
        text-align: center;
    }

    .cont_link_Contacto li i,
    .cont_habilidades li i,
    .cont_herramientas li i,
    #SOBRE_MI .cont_sobre_me .herramientas .cont_herramientas img,
    #SOBRE_MI .cont_sobre_me .herramientas .cont_habilidades img {
        font-size: 50px;
        width: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont_link_Contacto li i:hover {
        font-size: 60px;
    }








    /* PORTAFOLIO */
    #PORTAFOLIO {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        padding-bottom: 20px;
    }



    #PORTAFOLIO h2 {
        margin: auto;
        font-size: 40px;
    }



    #PORTAFOLIO .cont_proyectos {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        grid-gap: 20px;
    }


    #PORTAFOLIO .cont_proyectos li {
        position: relative;
        flex: 1 0 auto;
        width: 300px;
        height: 400px;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }


    #PORTAFOLIO .cont_proyectos li .cont_imagen_proyecto {
        grid-column: 1 / -1;
        grid-row: 1 / 5;
        margin: 10px;
        background-color: aliceblue;
        overflow: hidden;
        transition: 0.2s ease-in-out;
    }


    #PORTAFOLIO .cont_proyectos li .cont_imagen_proyecto:hover {
        margin: 5px;
    }



    

    

    #PORTAFOLIO .cont_proyectos li p {
        grid-column: 1 / -1;
        grid-row: 5 / -1;
        margin: 10px;
    }


    

    #PORTAFOLIO .cont_proyectos li h3 {
        width: auto;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }












    /* FOMRULARIO_CONTACTO */
    #FORMULARIO_DE_CONTACTO {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
    }


    #FORMULARIO_DE_CONTACTO h2 {
        margin: auto;
        font-size: 40px;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario {
        grid-column: 1 / -1;
        grid-row: 2 / 8;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }



    #FORMULARIO_DE_CONTACTO .cont_formulario .form {
        width: 450px;
        height: 600px;
        margin: auto;
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(5, 1fr);

        background-color: #F9F9F9;
        box-shadow: 6px 8px 14px 4px rgba(0, 0, 0, 0.3);
    }


    form {
        grid-column: 1 / -1;
        grid-row: 2 / -1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 40px;
        margin-top: 20px;
    }



    form label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        gap: 10px;
    }


    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        padding: 10px;
        border: 1px solid #cccccc;
        font-size: 14px;
        height: 30px;
        border-radius: 20px;
        border: none;
    }

    .textarea {
        grid-column: 1 / -1;
        grid-row: 3 / 4;

        resize: none;
        height: 100px;
    }

    textarea {
        resize: none;
        height: 100px;
    }

    form button {
        grid-column: 1 / 2;
        grid-row: 4 / -1;

        padding: 20px 30px;
        margin: auto auto auto 0;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }



    #FORMULARIO_DE_CONTACTO .cont_formulario .cont_mensaje_form {
        

        display: flex;
        align-items: center;
        justify-content: center;
    }


    #FORMULARIO_DE_CONTACTO .cont_formulario .cont_mensaje_form h1 {
        margin: auto 20px;
        font-size: 40px;
    }










    /* MENU MOBILE */
    #boton_modal,
    .div_body {
        display: none;
    }
}